<form #form='ngForm' (ngSubmit)='submitForm(form)' class="mt-5">
  <div class="input-group">
      <input type='text'
      [(ngModel)]="searchText" placeholder='Inserisci il nome del libro' name='searchText' required class="form-control rounded" />
      <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">
          Cerca
        </button>
    </div>
</form>

<div *ngIf="books" class="mt-5 row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">{{books.author}}</h2>
            <p style="font-size: 10px; font-weight: bold; ">{{books.datePublished}} </p>
            <p class="card-text">{{books.description}}</p>
            <span style="text-align: center; font-size: 2rem;">{{books.bookname}}</span>
        </div>
    </div>
</div>